<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Add Orders Form</h2>
    <form action="/orders/add" method="POST">
        <p><input type="text" name="product" placeholder="Product" /></p>
        <p><input type="number" name="quantity" placeholder="Quantity" /></p>
        <p><input type="number" name="price" placeholder="Price" /></p>
        <p><button>Submit</button></p>
    </form>
</body>

</html> -->